h1 { 
    color: blue;
    background-color: red;
    text-align: center;
    border: 5px solid;
    border-color: black;
}

h3 {
    text-align: center;
}

.nav-item {
    color:seagreen;
    border: 3px solid;
    padding: 4px;

}

#sources {
    text-align: center;
    background-color: skyblue;
}

